
/plugin/\.idea/\.idea\.UnityTestLibrary/\.idea/

/plugin\.DotSettings\.user

/plugin/\bin/

/plugin/\obj/

/TestBed/\Assets/\Code/

/TestBed/\Library/

/TestBed/\Temp/

*.iml


/TestBed/Assets/Code.meta
