
/plugin/\.idea/\.idea\.UnityTestLibrary/\.idea/

/plugin\.DotSettings\.user

/plugin/\bin/

/plugin/\obj/

/TestBed/\Assets/\Code/

/TestBed/\Library/

/TestBed/\Temp/

*.iml


/TestBed/Assets/Code.meta
/TestBed/Assets/Code/
/TestBed/Library/
/TestBed/Logs/
/TestBed/Temp/
/TestBed/Assets/Plugins/
/TestBed/.idea/.idea.TestBed/.idea/
/TestBed/testbed-0.1-v1.symbols.zip
/TestBed/testbed.apk
/plugin/.idea/.idea.Genome2DNativePlugin/.idea/
/TestBed/Assembly-CSharp.csproj
/TestBed/TestBed.sln
/TestBed/.idea/.idea.TestBed/.idea/contentModel.xml
/TestBed/.idea/.idea.TestBed/.idea/workspace.xml
/plugin/.idea/.idea.Genome2DNativePlugin/.idea/contentModel.xml
/plugin/.idea/.idea.Genome2DNativePlugin/.idea/workspace.xml
/TestBed/.idea/.idea.TestBed/.idea/workspace.xml
